@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Medilab es una herramienta que tiene por finalidad brindar soporte didáctico en la enseñanza médica.</p>
<p><b>Autor:</b>Maximiliano Bordón</p>
<address>
    <strong>Mail:</strong><a href="mailto:maximiliano.bordon@gmail.com">maximiliano.bordon@gmail.com</a><br />
</address>