@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Paraguay 2155 <br />
    C1121ABG CABA <br />
    <abbr title="Phone">Teléfono:</abbr>
    011 5950-9500
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:maximiliano.bordon@gmail.com">maximiliano.bordon@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:manu_lm94@hotmail.com">manu_lm94@hotmail.com</a>
</address>