
@{
    ViewBag.Title = "Buscador";
}


<style>
    .search_button {
        display: inline-block;
        border-radius: 4px;
        background-color: #E74424;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 16px;
        padding: 10px;
        width: 100px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

        .search_button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

            .search_button span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }

        .search_button:hover span {
            padding-right: 25px;
        }

            .search_button:hover span:after {
                opacity: 1;
                right: 0;
            }

    .button {
        background-color: dodgerblue;
        border-radius: 12px;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
    }

    .buscador {
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }

    
</style>



<div>
   <table style="width: 100%; text-align: center;">
        <tr>
            <td>
                <img src="https://cdn.icon-icons.com/icons2/807/PNG/512/cardiogram_icon-icons.com_66072.png" style="width:300px;height:300px;" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="buscador" id="buscador" class="buscador" placeholder="Ingrese topico..." />

            </td>        
        </tr>

        <tr>

            <td></td>
        </tr>
        <tr>
            <td>               
              
                <button class="search_button" id="btnBuscador" onclick="location.href='@Url.Action("Index", "Articulo", new {topico=0})'"><span>Buscar</span></button>
               
             </td>
        </tr>
    </table>
</div>
@section scripts {

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    
    <script>


        $(function () {


            $("#buscador").autocomplete(
                 {
                     minLength:3, //Empieza a buscar a partir de los 3 caracteres ingresados
                     focus: function(event,ui)
                     {
                         event.preventDefault(); //Con esta llamada evito que se cargue con el value del autocomplete
                         $("#buscador").val(ui.item.label);
                     
                     },
                     select: function(event,ui)
                     {                  
                         event.preventDefault(); //Puedo usar esta llamada o bien hacer un return false al final...
                         var url = $('#btnBuscador').attr('onclick'); 
                         url=url.substring(0,url.lastIndexOf("=")+1)+ui.item.value+"'";
                         $('#btnBuscador').attr('onclick', url);                         
                         $("#buscador").val(ui.item.label);                       
                        // return false;
                        
                     },
                     source: function (request, response) {

                         $.ajax({
                             url: '/Topico/BuscarTopico',
                             type: 'POST',
                             data: { term: $("#buscador").val() },
                             cache: false,
                             dataType: 'json',                                
                             success: function (json) {
                                 response($.map(json, function (data) {                                         
                                     return {
                                         label: data.value,
                                         value: data.Id
                                     };
                                 }));
                             },
                         })

                     }
                 }
              );
        });

        

    </script>

}